*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-header {
    background-color: rgb(212, 211, 211);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#searchBtn{
    border-radius: 50px;
    width: 250px;
    border: none;
    outline: none;
    padding: 8px;
    cursor: pointer;
    margin-left: 10px;
}

.leftNav {
    display: flex;
    align-items: center;
}

.UnorderedList{
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
    padding: 7px;
    border-radius: 5px;
}

.UnorderedList li {
    margin: 5px;
    cursor: pointer;
}

#logoutBtn,
#homeBtn,
#FinancetBtn,
#WorkBtn,
#HealthBtn
 {
    padding: 8px;
    border: none;
    outline: none;
    border-radius: 7px;
    cursor: pointer;
}
.