/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

/* Header Styles */
.home-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 2.6rem;
    height: 68px;
}

/* Header left */
.leftNav {
    display: flex;
    align-items: center;
    /* border: 3px solid red; */
}

.leftNav img {
    width: 34px;
    height: 34px;
    border: 2px solid rgb(48, 127, 231);
    border-radius: 50%;
    margin-right: 8px;
}

/* Header right */
/* .rightNav {
    border: 3px solid black;
    margin-left: 27px;
} */

.rightNav .UnorderedList{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    list-style: none;
    font-size: 12px;
    border-radius: 5px;
}

.UnorderedList li {
    margin: 3px;
    cursor: pointer;
}

#logoutBtn,
#analyticsBtn {
    padding: 0.35rem 0.7rem;
    border: none;
    outline: none;
    font-weight: 500;
    border-radius: 7px;
    color: #08080B;
    cursor: pointer;
}

#logoutBtn {
    background-color: #f00;
    color: #fff;
    margin-left: 12px;
}

.welcome{
    text-align: center;
    color: #08080B;
    margin: 10px 0;
    font-size: 18px;
}

/* Main section */
.main {
    /* border: 3px solid gray; */
    padding: 6.3rem 4rem 4rem;
}

/* Welcome Message */
.welcome {
    text-align: center;
    /* margin: 10px 0; */
    font-size: 20px;
    color: black;
}

/* Table Styles */
.table-container {
    margin: 10px;
    max-width: 1234px;
    margin: 0 auto;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 8px 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: rgb(134, 134, 134);
    color: white;
}

tr:hover {
    background-color: #f1f1f1;
}

/* Chart Container */
.analytics {
    padding: 10px;
    max-width: 1234px;
    margin: 0 auto;
}

.analytics h2 {
    margin: 2.1rem 0 12px;
}

.chart-container {
    display: flex;
    flex-wrap: wrap;
    /* border: 3px solid black; */
    gap: 10px;
    margin-bottom: 20px;
}

.chart {
    flex: 1;
    background-color: #ffffff;
    padding: 12px;
    border-radius: 8px;
    /* border: 3px solid blue; */
    width: 500px;
    height: 356px;
    padding-bottom: 3.4rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.heatmap-grid {
    padding-bottom: 0.9rem;
}

.chart h3,
.heatmap-container h3 {
    margin-top: 4px;
    margin-bottom: 14px;
}

/* Heatmap Container */
.heatmap-container {
    background-color: #ffffff;
    padding: 12px;
    /* margin-top: 32px; */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.heatmap-grid {
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    gap: .82rem;
    /* margin-top: 2px; */
    /* border: 3px solid red; */
}

.heatmap-box {
    width: 27px;
    height: 27px;
    background-color: #ebedf0;
    border-radius: 2px;
}