body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    background-color: #000;
    width: 100%;
    padding: 16px 21px;
    height: 62px;
    color: #fff;
}

.header h1 {
    font-size: 24px;
}

.header h1 span {
    /* color: rgb(60, 60, 253); */
}

.homeContent {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    padding-bottom: 102px;
}

.login-form {
    width: 450px;
    background-color: rgb(205, 199, 199);
    margin: 0 auto;
    padding: 25px;
}

.login-form label {
    font-size: 18px;
    margin-bottom: 5px;
    color: #fff;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 5px 0px;
    font-size: 16px;
}

#google-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

#google-btn img {
    width: 22px;
    height: 22px;
}

