<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/styles/config.css">
    <link rel="stylesheet" href="../../public/styles/home.css">
    <title>Home page</title>
</head>
<body>

    <header class="home-header">
        <div class="leftNav">
            <img src="" id="profile-pic" style="border-radius: 50%;" alt="" width="50" height="50">
            <input type="search" id="searchInput" placeholder="Search here">
            <button id="searchBtn">Search</button>
        </div>

        <div class="rightNav">
            <ul class="UnorderedList">
                <li><button id="homeBtn">Home</button></li>
                <li><button id="FinancetBtn">Finance</button></li>
                <li><button id="WorkBtn">Work</button></li>
                <li><button id="HealthBtn">Health</button></li>
                <li><button id="logoutBtn">LogOut</button></li>
            </ul>
        </div> 
    </header>

    <h1 class="welcome">Welcome <span id="username"></span> </h1>
    
    <div class="container">
        <div class="firstText">
            <div><h1>Today: <span id="current-day"></span></h1></div>
            <div ><button class="saveBtn" id="saveBoxes">Save</button></div>
        </div>
        <div id="box-container">
        </div>
    </div>

</body>

    
</script>
<!-- SweetAlert2 CDN -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script type="module" src="../../public/scripts/home.js"></script>
<script src="../../public/scripts/Tag.js"></script>
<script src="../../public/scripts/getday.js"></script>
<script src="../../public/scripts/Box.js"></script>
<script src="../../public/scripts/BoxContainer.js"></script>
<script type="module" src="../../public/scripts/firebaseConfig.js"></script>
<!-- <script type="module" src="../../public/scripts/app.js"></script> -->
</html>