/* Header */
.home-header {
    background-color: white;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 2.6rem;
    height: 68px;
}

/* Header left */
.leftNav {
    display: flex;
    /* align-items: center; */
    margin-top: 5px;
}

.leftNav img {
    width: 34px;
    height: 34px;
    border: 2px solid rgb(48, 127, 231);
    border-radius: 50%;
    margin-right: 8px;
}

#searchInput{
    border-top-left-radius: 7px;
    max-width: 250px;
    border: none;
    outline: none;
    background-color: #f6f3f3;
    padding: 8px 8px;
    margin-left: 10px;
    height: 100%;
}

#searchBtn {
    outline: none;
    border: none;
    padding: 8px;
    height: 100%;
    background-color: rgb(60, 60, 253);
    color: #fff;
    border-top-right-radius: 7px;
    cursor: pointer;
}

/* Header right */
.rightNav {
    margin-left: 27px;
}

.rightNav .UnorderedList{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    list-style: none;
    font-size: 12px;
    border-radius: 5px;
}

.UnorderedList li {
    margin: 3px;
    cursor: pointer;
}

#logoutBtn,
#homeBtn,
#FinancetBtn,
#WorkBtn,
#HealthBtn {
    padding: 0.35rem 0.7rem;
    border: none;
    outline: none;
    font-weight: 500;
    border-radius: 7px;
    color: #08080B;
    cursor: pointer;
}

#logoutBtn {
    background-color: #f00;
    color: #fff;
    margin-left: 12px;
}

.welcome{
    text-align: center;
    font-size: 35px;
    margin-top: 20px;
}

.box {
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: lightblue;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
    display: flex;
    padding: 1px;
    justify-content: center;
    align-items: center;
    border: 5px solid transparent;
}

.titleBox {
    font-size: 10px;
}

.firstText {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.container{
    margin-top: 120px;
    width: 1800px;
    margin-inline: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.saveBtn{
    border: none;
    background-color: navy;
    color: #fff;
    padding: 7px;
    border-radius: 10px;
    width: 180px;
    padding: 10px;
    font-size: 22px;
    cursor: pointer;
}

#box-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  
  .modal {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    min-width: 300px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  }
  

  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  

  select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  

  .submitBTN {
    margin-top: 15px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .submitBTN:hover {
    background-color: #0056b3;
  }

  .selected {
    border-color: #000;
    color: #fff;
  }
  